# Importacão dos pacotes

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import matplotlib.pyplot as plt

# Aula 1

## Desafio 01: Se você não conhece o Kaggle, explore um pouco os datasets, competições e discussões

## Desafio 02: Leia a descrição do problema proposta pelo Sírio Libanês, tentando entender qual é o real problema.

De acordo com a descrição do hospital Sírio Libanês encontrada no [kaggle](https://www.kaggle.com/S%C3%ADrio-Libanes/covid19) o problema é identificar se um paciente irá precisar ou não ser internado na UTI ao chegar no hospital com base nos exames e informações médicas do paciente. Para o hospital é muito importante ter essa informação a fim de saber os recursos da UTI necessários e planejar o agendamento da transferência do paciente.Nesse contexto o hospital propôs duas tarefas a serem realizadas a partir desses dados médicos:

> Tarefa 1 : prever se o paciente precisará de UTI a fim da organização dos recursos <br> 
> Tarefa 2 : prever se o paciente não precisará de UTI e se ele pode ser liberado e receber alta

Embora as tarefas serem parecidas elas possuem um objetivo diferente, a primeira delas me pareceu algo mais preventivo no sentido de evitar superlotação e falta de equipamentos e suprimentos médicos, a segunda me pareceu que o hospital quer ter a maior certeza de que o paciente não precisará ser internado na UTI para ser liberado de uma vez.

# Aula 2, 3, 4 e 5

## Desafio 1 -pesquisar aprendizado supervisionado, não supervisionado, por reforço e mais (forma).

O aprendizado de máquina, ou machine learning, é uma técnica que permite construir um modelo matemático capaz de gerar previsões. Porém esse aprendizado pode ser realizado de diversas formas dependendo do objetivo final, e cada dessa forma existem diferentes abordagens e, portanto, o papel do cientista de dados é entender o problema e achar a melhor forma do aprendizado de máquina e depois pensar no modelo propriamente dito, essas formas são:

> * Aprendizado Supervisionado : esse aprendizado é aquele aprendizado onde o modelo já possui, nesses dados passados, a resposta do que aconteceu, nesse tipo de aprendizado o modelo olha para os dados passados e tenta gerar uma fórmula matemática que consiga descrever a resposta do problema em função das variáveis das observações, os modelos mais comuns nesse casos são as regressões e classificações, como a regressão linear e regressão logística.<br>
> * Aprendizado Não Supervisionado : neste tipo de aprendizado existe um problema a ser resolvido mas não existe uma resposta pré definida, ele pode ser muito útil para descobrir classes sem pré defini-las. Um exemplo é o cluster que a partir de variáveis de observações ele tenta encontrar padrões e definir classes.Pode ser muito útil em dados não relacionais como classificação de textos.<br>
> * Aprendizado Por Reforço : nesse caso o objetivo é ensinar o modelo por tentativa e erro, se aproximando muito de um aprendizado real e tendo uma base no estudo da psicologia, onde muitas vezes só aprendemos tentando e errando. Esse tipo de aprendizado pode ser muito útil na tentativa de criar um modelo a fim de replicar tarefas humanas, como carros inteligentes que dirigem sozinhos e inteligências artificiais dentro dos jogos.<br>

> Referências : 
> * https://www.potentiaco.com/what-is-machine-learning-definition-types-applications-and-examples/<br>
> * https://operdata.com.br/blog/uma-visao-geral-sobre-machine-learning/#:~:text=Classifica%C3%A7%C3%A3o%20no%20Machine%20Learning,(tr%C3%AAs%20ou%20mais%20classes).

## Desafio 2 - Pesquisar sobre classificação, regressão e outros problemas que podem ser solucionados com Machine Learning

> Regressão  : a regressão tem como objetivo prever um valor contínuo a partir dos dados, portanto ela é muito utilizada nas previsões de vendas, de custos e outros problemas que envolvam valores numéricos na resposta. Ela ser do tipo linear que tenta encontrar uma reta que ajusta os dados independentes(variáveis) e os dados dependentes que seriam a resposta a ser encontrada, além disso existem as regressões não lineares que conseguem identificar padrões que muitas vezes podem passar em branco, pois nesse casos ela tenta encontrar uma equação polinomial que possa descrever os dados, e, portanto consegue identificar curvas que correlacionam os dados.

> Classificação : a classificação é utilizada quando queremos prever a classe de algo, essa classe pode ser binária de sim e não, por exemplo prever se e-mail é spam, ou se uma compra realizada no cartão é fraude. Além disso existem classificações multiclasses onde os rótulos previstos pelo mdelo são variados. Um exemplo de uma previsão multiclasses é prever o tipo de flor a partir do comprimento e largura das pétalas.

> Referências : 
> * https://machinelearningmastery.com/types-of-classification-in-machine-learning/<br>
> * https://operdata.com.br/blog/uma-visao-geral-sobre-machine-learning/#:~:text=Classifica%C3%A7%C3%A3o%20no%20Machine%20Learning,(tr%C3%AAs%20ou%20mais%20classes).

## Desafio 3 - Qual o motivo de jogar fora o ICU do dado X? O que acontece se estiver no x? Pq seria bom/ruim?

O motivo de jogarmos fora o 'ICU' do dado X é porque ao estarmos trabalhando com aprendizado supervisionado temos que estar sempre atentos a definir previamente a variável dependente e as variáveis independentes.

#### Mas como definir isso ?

Para definir essas variáveis precisamos nos colocar no lugar de quem está com um problema, e como o modelo ajudará na prática. Se o nosso modelo quer prever se um paciente vai para UTI ou não, a variável que nos dá essa resposta é a variável independente, neste a caso a coluna 'ICU', portanto não podemos usá-la ao treinar o modelo uma vez que não teremos essa informação na hora de colocar o modelo para funcionar em tempo real.

Portanto se essa variável estiver nos dados de treino('x'), por mais que o modelo terá uma acurácia muito boa, não significa nada, será uma acurácia ilusória, uma vez que não poderemos colocar o modelo em produção já que não teremos essa informação na hora que o paciente chegar ao hospital.

## Desafio 4 - Pesquisar sobre ética em data science/ciência de dados e inteligência artificial

O campo da ciência de dados gera grandes oportunidades para resolver os mais variados tipos de problemas. Porém, uma vez que estamos falando de dados temos um problema ético muito grande. Muitos dos objetivos propostos na área possuem uma demanda de dados pessoais e de dados de empresas concorrentes, fato esse que gera uma discussão sobre a importância da ética neste contexto.<br>
A ciência de dados está chegando em ponto que a coleta desses dados pode ocorrer de diversas formas, como por exemplo o 'web scraping' que possibilita essa coleta automatizadas dentro de sites fazendo uma espécie de 'raspagem' dentro desses sites. Nesse contexto temos que sempre estar atento as leis, como, no Brasil, a [Lei Geral de Proteção de Dados Pessoais](http://www.planalto.gov.br/ccivil_03/_Ato2015-2018/2018/Lei/L13709.htm), e no caso do 'web scraping' checar se o site possui um arquivo 'robots.txt' e quais as partes que ele é autorizada essa técnica.

> Referências : 
>  * https://royalsocietypublishing.org/doi/10.1098/rsta.2016.0360#<br>
> * https://www.datascience-pm.com/10-data-science-ethics-questions/<br>
> * https://medium.com/big-data-at-berkeley/things-you-need-to-know-before-you-become-a-data-scientist-a-beginners-guide-to-data-ethics-8f9aa21af742<br>
> * http://www.planalto.gov.br/ccivil_03/_Ato2015-2018/2018/Lei/L13709.htm
> * https://towardsdatascience.com/ethics-in-web-scraping-b96b18136f01

## Desafio 5 - Decida quanto você vai escolher para treino e quanto para teste? Quanto as pessoas utilizam e qual o motivo?

Essa pergunta depende muito do tamanho total do dataset, pois ao separarmos uma parte para testar o modelo temos que pensar em ter uma amostra que consiga representar os dados totais da maneira mais equilibrada possível e ao mesmo tempo fazer a mesma coisa para os dados de treino. Portanto, se temos uma quantidade muito grande de dados podemos 'nos dar ao luxo' de deixar uma porcentagem menor dos dados destinados ao teste, no entanto, quando temos uma quantidade mais limitada dos dados temos o desafio de encontrar uma porcentagem ideal para separar os dados.

As pessoas normalmente utilizam entre 20% e 30% do dataset total para teste, pois na maior parte das vezes essa porcentagem é ideal para fazer com que cada dataset cumpra seu papel muito bem, porém podemos testar diferentes tamanhos a fim de observar a acurácia dos dois datasets ao mudar esse tamanho

## Desafio 6 - Olhe a documentação da LogisticRegression... o que tem de parâmetro em comum com o train_test_split? O que isso significa pra nós?

As duas funções possuem o mesmo parâmetro 'random_state', este parâmetro é reponsável pode definir a semente que irá gerar os números aletórios afim de tomar decisões aleatoriamente. No caso da função train_test_split essa randomização tem como objetivo separar os dados de treino e teste da maneira mais aleatória possível.Na função LogisticRegression dependendo do método utilizado passado no parâmetro 'solver', a função precisa gerar randomizações a fim de realizar os métodos matemáticos.

Portanto isso nos diz que devemos tomar cuidado na hora de definir essa semente aletória, pois sempre que rodarmos essas funções o correto é definir uma semente novamente.

# Leitura dos dados

In [2]:
dados =  pd.read_excel('../dados/dados_brutos/Kaggle_Sirio_Libanes_ICU_Prediction.xlsx')

In [3]:
dados.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1

In [4]:
dados.describe()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,...,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,ICU
count,1925.000000,1925.000000,1925.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,...,1177.000000,1231.000000,1239.000000,1240.000000,1240.000000,1240.000000,1177.000000,1231.000000,1239.000000,1925.000000
mean,192.000000,0.467532,0.368831,0.108333,0.028125,0.097917,0.019792,0.128125,0.046875,0.213021,...,-0.703683,-0.770338,-0.887196,-0.786997,-0.715950,-0.817800,-0.719147,-0.771327,-0.886982,0.267532
std,111.168431,0.499074,0.482613,0.310882,0.165373,0.297279,0.139320,0.334316,0.211426,0.409549,...,0.482097,0.319001,0.296147,0.324754,0.419103,0.270217,0.446600,0.317694,0.296772,0.442787
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,96.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,192.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-0.976190,-0.979798,-1.000000,-0.984944,-0.989822,-1.000000,-0.975924,-0.980333,0.000000
75%,288.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.647059,-0.595238,-0.878788,-0.645482,-0.522176,-0.662529,-0.634409,-0.594677,-0.880155,1.000000
max,384.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
dados['ICU'].value_counts()

0    1410
1     515
Name: ICU, dtype: int64

In [6]:
dados['ICU'].isna().sum()

0

In [7]:
#Criando um dataframe que indica se o paciente foi para UTI em algum momento
dados_qualquer_janela = dados.groupby('PATIENT_VISIT_IDENTIFIER', as_index=False).agg({'ICU':'max'})
dados_qualquer_janela = dados_qualquer_janela.rename(columns={'ICU':'ICU_any_window'})
dados_qualquer_janela.head()

   PATIENT_VISIT_IDENTIFIER  ICU_any_window
0                         0               1
1                         1               1
2                         2               1
3                         3               0
4                         4               0

In [8]:
#Juntando o dataframe pra criar a coluna indicando se o paciente foi para UTI em algum momento
dados = dados.merge(dados_qualquer_janela, on='PATIENT_VISIT_IDENTIFIER')
dados.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU,ICU_any_window
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0,1
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0,1
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0,1
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0,1
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1,1

In [9]:
dados.describe()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,ICU,ICU_any_window
count,1925.000000,1925.000000,1925.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,...,1231.000000,1239.000000,1240.000000,1240.000000,1240.000000,1177.000000,1231.000000,1239.000000,1925.000000,1925.000000
mean,192.000000,0.467532,0.368831,0.108333,0.028125,0.097917,0.019792,0.128125,0.046875,0.213021,...,-0.770338,-0.887196,-0.786997,-0.715950,-0.817800,-0.719147,-0.771327,-0.886982,0.267532,0.506494
std,111.168431,0.499074,0.482613,0.310882,0.165373,0.297279,0.139320,0.334316,0.211426,0.409549,...,0.319001,0.296147,0.324754,0.419103,0.270217,0.446600,0.317694,0.296772,0.442787,0.500088
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000
25%,96.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000
50%,192.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.976190,-0.979798,-1.000000,-0.984944,-0.989822,-1.000000,-0.975924,-0.980333,0.000000,1.000000
75%,288.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.595238,-0.878788,-0.645482,-0.522176,-0.662529,-0.634409,-0.594677,-0.880155,1.000000,1.000000
max,384.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Super desafio : não usar backfill da janela após a pessoa ter ido pra UTI

Para não usar o backfill da janela após a pessoa ter ido para UTI vou eliminar os dados das janelas onde os pacientes estavam na UTI e só depois fazer o backfill, dessa forma já elimino os dados em que o paciente foi para UTI na primeira janela e evito que os dados que foram obtidos quando o paciente já estava na UTI interfira ao preencher os dados nulos.

In [10]:
#Eliminando os dados onde 'ICU' é igual a 1
dados = dados.drop(index = dados.loc[dados['ICU'] == 1].index)

#Eliminado a coluna 'ICU' pois não será mais utilizada, em vez dela, tentarei prever a 'ICU_any_window'
dados = dados.drop(columns='ICU')
dados

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU_any_window
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,1
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,1
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,1
10,2,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0-2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1921,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
1922,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,4-6,0
1923,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,6-12,0
1924,384,0,50th,1,0.0,0.0,1.0,0.0,0.0,0.0,...,-0.547619,-0.838384,-0.701863,-0.585967,-0.763868,-0.612903,-0.551337,-0.835052,ABOVE_12,0

In [11]:
#Identificando as colunas contínuas
colunas_continuas = dados.iloc[:, 13:-2].columns

#Fazendo o prenchimento dos valores nulos
dados[colunas_continuas] = dados.groupby("PATIENT_VISIT_IDENTIFIER", as_index=False)[colunas_continuas].fillna(method='ffill').fillna(method='bfill')

#Eliminando os dados nulos restantes
dados = dados.dropna()
dados

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU_any_window
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,1
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,4-6,1
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,6-12,1
10,2,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-0.959596,-0.515528,-0.351328,-0.747001,-0.756272,-1.000000,-0.961262,0-2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1921,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
1922,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,4-6,0
1923,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,6-12,0
1924,384,0,50th,1,0.0,0.0,1.0,0.0,0.0,0.0,...,-0.547619,-0.838384,-0.701863,-0.585967,-0.763868,-0.612903,-0.551337,-0.835052,ABOVE_12,0

In [12]:
dados.describe()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,...,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,ICU_any_window
count,1405.000000,1405.000000,1405.000000,1405.000000,1405.000000,1405.000000,1405.000000,1405.00000,1405.000000,1405.000000,...,1405.000000,1405.000000,1405.000000,1405.000000,1405.000000,1405.000000,1405.000000,1405.000000,1405.000000,1405.000000
mean,195.180071,0.404982,0.389324,0.096797,0.019929,0.083986,0.014947,0.11032,0.047687,0.170819,...,-0.926774,-0.898797,-0.961631,-0.915959,-0.898691,-0.925962,-0.925570,-0.899514,-0.961759,0.327402
std,111.576713,0.491063,0.487771,0.295787,0.139806,0.277465,0.121382,0.31340,0.213179,0.376484,...,0.156767,0.193575,0.127351,0.165550,0.204552,0.148345,0.155916,0.192139,0.126679,0.469432
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,99.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,194.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
75%,294.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,-0.941176,-0.880952,-0.959596,-0.890160,-0.888267,-0.943956,-0.935484,-0.882253,-0.959202,1.000000
max,384.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,...,0.411765,0.023810,0.919192,0.217391,0.177852,-0.069094,0.401434,0.029497,0.917526,1.000000

In [13]:
def select_window(rows):
    return rows.loc[rows['WINDOW'] == '0-2',:]

In [14]:
#Aplicando a função que retona apenas a janela de quando o paciente chegou no hospital
dados_limpos = dados.groupby('PATIENT_VISIT_IDENTIFIER').apply(select_window)
dados_limpos.head()

,,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU_any_window
PATIENT_VISIT_IDENTIFIER,,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
2,10,2,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-0.959596,-0.515528,-0.351328,-0.747001,-0.756272,-1.000000,-0.961262,0-2,1
3,15,3,0,40th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
4,20,4,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.952381,-0.979798,-1.000000,-0.883669,-0.956805,-0.870968,-0.953536,-0.980333,0-2,0
5,25,5,0,10th,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.976190,-0.979798,-0.860870,-0.714460,-0.986481,-1.000000,-0.975891,-0.980129,0-2,0

In [15]:
dados_limpos.describe()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,...,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,ICU_any_window
count,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,...,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000,352.000000
mean,192.818182,0.457386,0.380682,0.105114,0.022727,0.090909,0.019886,0.127841,0.042614,0.193182,...,-0.972594,-0.970915,-0.986169,-0.970149,-0.971016,-0.982000,-0.973435,-0.971301,-0.986184,0.463068
std,110.763735,0.498890,0.486246,0.307136,0.149245,0.287889,0.139809,0.334388,0.202272,0.395356,...,0.087102,0.081659,0.033305,0.090259,0.083091,0.052097,0.077046,0.080018,0.033720,0.499344
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,97.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,191.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
75%,289.250000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1.000000
max,384.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,-0.058824,-0.238095,-0.757576,-0.217391,-0.351328,-0.535878,-0.451613,-0.285468,-0.732438,1.000000

## Desafio 07 - Arranque fora as colunas que não devem ser utilizadas

In [16]:
#Eliminando as colunas que indicam o ID e o genêro pois essas informações não serão úteis na previsão e podem atrapalhar 
dados_limpos = dados_limpos.drop(columns=['PATIENT_VISIT_IDENTIFIER','GENDER'])
dados_limpos = dados_limpos.reset_index(drop=True)
dados_limpos.head()

,AGE_ABOVE65,AGE_PERCENTIL,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,IMMUNOCOMPROMISED,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU_any_window
0,1,60th,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
1,0,10th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-0.959596,-0.515528,-0.351328,-0.747001,-0.756272,-1.000000,-0.961262,0-2,1
2,0,40th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
3,0,10th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.952381,-0.979798,-1.000000,-0.883669,-0.956805,-0.870968,-0.953536,-0.980333,0-2,0
4,0,10th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.976190,-0.979798,-0.860870,-0.714460,-0.986481,-1.000000,-0.975891,-0.980129,0-2,0

In [17]:
#Renomeando a coluna 'ICU_any_window' para 'ICU' agora que estamos trabalhando com apenas 1 janela
dados_limpos = dados_limpos.rename(columns={'ICU_any_window':'ICU'})
dados_limpos.head()

,AGE_ABOVE65,AGE_PERCENTIL,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,IMMUNOCOMPROMISED,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,1,60th,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,1
1,0,10th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-0.959596,-0.515528,-0.351328,-0.747001,-0.756272,-1.000000,-0.961262,0-2,1
2,0,40th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
3,0,10th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.952381,-0.979798,-1.000000,-0.883669,-0.956805,-0.870968,-0.953536,-0.980333,0-2,0
4,0,10th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.976190,-0.979798,-0.860870,-0.714460,-0.986481,-1.000000,-0.975891,-0.980129,0-2,0

In [18]:
#Fazendo os tratamentos adequados para trasnformar a coluna 'AGE_PERCENTIL' para inteiro de uma forma que o modelo possa entender
dados_limpos['AGE_PERCENTIL'] = dados_limpos['AGE_PERCENTIL'].str.replace('th', '')
dados_limpos['AGE_PERCENTIL'] = dados_limpos['AGE_PERCENTIL'].str.replace('Above ', '')
dados_limpos['AGE_PERCENTIL'] = dados_limpos['AGE_PERCENTIL'].astype('int64')

In [177]:
x = dados_limpos.loc[:,dados_limpos.describe().columns].drop(columns='ICU')
y = dados_limpos.loc[:,'ICU']

In [159]:
x

,AGE_ABOVE65,AGE_PERCENTIL,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,IMMUNOCOMPROMISED,...,HEART_RATE_DIFF,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL
0,1,60,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
1,0,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.603053,-0.764706,-1.000000,-0.959596,-0.515528,-0.351328,-0.747001,-0.756272,-1.000000,-0.961262
2,0,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
3,0,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.923664,-0.882353,-0.952381,-0.979798,-1.000000,-0.883669,-0.956805,-0.870968,-0.953536,-0.980333
4,0,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.984733,-1.000000,-0.976190,-0.979798,-0.860870,-0.714460,-0.986481,-1.000000,-0.975891,-0.980129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,0,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
348,1,90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-1.000000,-1.000000,-0.619048,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.612627,-1.000000
349,0,50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
350,0,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
351,0,50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000

In [199]:
np.random.seed(748596)
x_train, x_test, y_train, y_test = train_test_split(x, y, stratify=y, test_size=0.3)

In [200]:
model_dummy = DummyClassifier()
model_dummy.fit(x_train, y_train)
y_pred_dummy = model_dummy.predict(x_test)
accuracy_score(y_test, y_pred_dummy)

0.5377358490566038

In [218]:
model_log = LogisticRegression(max_iter=10000)
model_log.fit(x_train, y_train)
y_pred_log = model_log.predict(x_test)
accuracy_score(y_test, y_pred_log)

0.8018867924528302

In [202]:
vt = VarianceThreshold(0)
vt.fit(x_train)

VarianceThreshold(threshold=0)

In [203]:
constant_columns = [column for column in x_train.columns if column not in x_train.columns[vt.get_support()]]

In [227]:
x_train_2 = x_train.drop(constant_columns, axis=1)

In [228]:
model_log = LogisticRegression(max_iter=100000)
model_log.fit(x_train_2, y_train)
y_pred_log = model_log.predict(x_test.drop(constant_columns,axis=1))
accuracy_score(y_test, y_pred_log)

0.7924528301886793

In [229]:
def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if (corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

In [233]:
todrop = correlation(x_train_2, 0.8)

In [234]:
x_train_3 = x_train_2.drop(todrop,axis=1)

In [235]:
model_log = LogisticRegression(max_iter=100000)
model_log.fit(x_train_3, y_train)
y_pred_log = model_log.predict(x_test.drop(constant_columns,axis=1).drop(todrop, axis=1))
accuracy_score(y_test, y_pred_log)

0.7169811320754716

In [157]:
from sklearn.feature_selection import VarianceThreshold, SelectFromModel, chi2

In [63]:
import seaborn as sns

In [64]:
dict_padroes = {}
for column in dados_limpos.columns[8:]:
    column_splited = column.split('_')
    if len(column_splited) == 1:
        pass
    else:
        try:
            dict_padroes['_'.join(column_splited[:-1])].append(column)
        except KeyError:
            dict_padroes['_'.join(column_splited[:-1])] = [column]

In [65]:
from sklearn.decomposition import PCA

In [66]:
teste = dados_limpos.copy()

In [67]:
pcas = {}
for padrao in dict_padroes.keys():
    pcas[padrao] = PCA(1)
    teste[padrao] = pcas[padrao].fit_transform(teste[dict_padroes[padrao]])

In [68]:
for padrao in dict_padroes.keys():
    teste = teste.drop(columns=dict_padroes[padrao])

In [69]:
x_t = teste.loc[:,teste.describe().columns].drop(columns='ICU')
y_t = teste.loc[:,'ICU']

In [70]:
np.random.seed(748596)
x_train, x_test, y_train, y_test = train_test_split(x_t, y_t, stratify=y_t, test_size=0.3)

In [71]:
model_log = LogisticRegression(max_iter=10000)
model_log.fit(x_train, y_train)
y_pred_log = model_log.predict(x_test)
accuracy_score(y_test, y_pred_log)

0.7830188679245284

In [72]:
teste.columns

Index(['AGE_ABOVE65', 'AGE_PERCENTIL', 'DISEASE GROUPING 1',
       'DISEASE GROUPING 2', 'DISEASE GROUPING 3', 'DISEASE GROUPING 4',
       'DISEASE GROUPING 5', 'DISEASE GROUPING 6', 'HTN', 'IMMUNOCOMPROMISED',
       'OTHER', 'WINDOW', 'ICU', 'ALBUMIN', 'BE_ARTERIAL', 'BE_VENOUS',
       'BIC_ARTERIAL', 'BIC_VENOUS', 'BILLIRUBIN', 'BLAST', 'CALCIUM',
       'CREATININ', 'FFA', 'GGT', 'GLUCOSE', 'HEMATOCRITE', 'HEMOGLOBIN',
       'INR', 'LACTATE', 'LEUKOCYTES', 'LINFOCITOS', 'NEUTROPHILES',
       'P02_ARTERIAL', 'P02_VENOUS', 'PC02_ARTERIAL', 'PC02_VENOUS', 'PCR',
       'PH_ARTERIAL', 'PH_VENOUS', 'PLATELETS', 'POTASSIUM', 'SAT02_ARTERIAL',
       'SAT02_VENOUS', 'SODIUM', 'TGO', 'TGP', 'TTPA', 'UREA', 'DIMER',
       'BLOODPRESSURE_DIASTOLIC', 'BLOODPRESSURE_SISTOLIC', 'HEART_RATE',
       'RESPIRATORY_RATE', 'TEMPERATURE', 'OXYGEN_SATURATION'],
      dtype='object')

In [74]:
teste

,AGE_ABOVE65,AGE_PERCENTIL,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,IMMUNOCOMPROMISED,...,TGP,TTPA,UREA,DIMER,BLOODPRESSURE_DIASTOLIC,BLOODPRESSURE_SISTOLIC,HEART_RATE,RESPIRATORY_RATE,TEMPERATURE,OXYGEN_SATURATION
0,1,60,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,-0.006819,0.019883,0.031435,-0.089242,0.213974,0.171762,-0.082570,-0.223691,-0.698878,0.034698
1,0,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.001566,-0.022157,0.031435,-0.055476,-0.893361,-0.666422,0.384644,-0.293795,0.421266,-0.357603
2,0,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.061779,-0.022157,-0.170975,-0.055476,0.082059,-0.074125,-0.537802,0.045515,-0.698878,0.128063
3,0,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.007581,-0.022157,-0.103505,-0.099419,0.653690,0.299725,0.737364,-0.230947,0.303735,-0.211413
4,0,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.003008,-0.022157,-0.064951,-0.099419,-0.029419,-0.391935,-0.555908,-0.089088,-0.539838,-0.118048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,0,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.012236,0.412254,-0.016758,-0.055476,-0.225742,-0.647861,1.073020,0.045515,0.047885,0.034698
348,1,90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-0.016727,-0.022157,-0.007119,-0.055476,-0.665458,-0.647861,-0.082570,0.045515,-0.302301,0.408156
349,0,50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.001566,-0.022157,0.127820,-0.028340,0.082059,-0.101446,-0.152606,0.045515,-0.325497,-0.245395
350,0,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.001566,-0.022157,-0.170975,-0.055476,0.213974,0.171762,-0.117588,-0.358294,-0.387727,0.034698
351,0,50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.009867,-0.067310,-0.055312,-0.058560,0.082059,0.062479,0.547752,-0.089088,0.732417,-0.058666

In [75]:
x_t = teste.loc[:,teste.describe().columns].drop(columns='ICU')
y_t = teste.loc[:,'ICU']

In [ ]:
np.random.seed(748596)
x_train, x_test, y_train, y_test = train_test_split(x_t, y_t, stratify=y_t, test_size=0.3)

In [ ]:
model_log = LogisticRegression(max_iter=10000)
model_log.fit(x_train, y_train)
y_pred_log = model_log.predict(x_test)
accuracy_score(y_test, y_pred_log)